<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.daba.dao.TeacherMapper">
    <select id="getTeachers" resultType="Teacher">
        SELECT * FROM teacher;
    </select>

    <!-- Union query -->
    <select id="getTeacherById" resultMap="TeacherStudent">
        SELECT s.id studentId, s.name sname, t.name tname, t.id teacherId
        FROM student s, teacher t
        WHERE s.tid = t.id and t.id=#{id};
    </select>

    <resultMap id="TeacherStudent" type="Teacher">
        <result property="id" column="teacherId"/>
        <result property="name" column="tname"/>
        <collection property="students" javaType="ArrayList" ofType="Student">
            <result property="id" column="studentId"/>
            <result property="name" column="sname"/>
            <result property="tid" column="teacherId"/>
        </collection>
    </resultMap>

<!--============================================================-->

    <!-- sub-query -->
    <select id="getTeacherById2" resultMap="TeacherStudent2">
        SELECT * FROM teacher WHERE id=#{id}
    </select>

    <resultMap id="TeacherStudent2" type="Teacher">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <collection property="students" javaType="ArrayList" ofType="Student" select="getStudentByTeacherId" column="id"/>
    </resultMap>

    <select id="getStudentByTeacherId" resultType="Student">
        SELECT * FROM student where tid=#{id};
    </select>

</mapper>