<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.daba.dao.UserMapper">

    <cache eviction="LRU" flushInterval="60000" size="512"  readOnly="false"/>

    <select id="selectUserById" parameterType="_int" resultType="User">
        SELECT * FROM user WHERE id=#{id};
    </select>
</mapper>