<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.daba.dao.UserMapper">
    <select id="getUserList" resultType="User">
        SELECT * FROM mybatis.user;
    </select>

    <select id="getUserById" parameterType="int" resultType="User">
        SELECT * FROM mybatis.user where id=#{id};
    </select>

    <insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO mybatis.user (name, pwd) VALUES (#{name}, #{pwd})
    </insert>

    <update id="updateUser" parameterType="User">
        UPDATE mybatis.user SET name=#{name}, pwd=#{pwd} WHERE id = #{id};
    </update>

    <delete id="deleteUser" parameterType="int">
        DELETE FROM mybatis.user WHERE id=#{id};
    </delete>
</mapper>
